include ../mixins/menuItem

doctype html
html(ng-app="hadronAdmin")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title(ng-bind="$state.current.title + ' - Hadron Admin'")

    //INJECT:styles:default
    //END INJECT

    //INJECT:styles:admin
    //END INJECT
    
    //INJECT:scripts:admin
    //END INJECT
  body
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation', ng-controller="NavbarCtrl")
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', ng-click="toggleCollapsed()")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src="/public/img/hadron_logo.png")
            | Hadron
        .navbar-collapse(collapse="isCollapsed()", style="height: 1px")
          ul.nav.navbar-nav
            +menuItem('#/posts/list', 'fa fa-list-alt', 'Posts')
            +menuItem('#/pages/list', 'fa fa-files-o', 'Pages')
            //INJECT:viewContributions:admin-tpl-menuItems
            //END INJECT
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                span(class="glyphicon glyphicon-wrench")
                |  Settings 
                b.caret
              ul.dropdown-menu
                +menuItem('#/settings/website', 'fa fa-globe', 'Website')
                +menuItem('#/settings/menu', 'fa fa-list-ul', 'Menu')
                +menuItem('#/settings/social', 'fa fa-comment', 'Social')
                +menuItem('#/settings/admin', 'fa fa-user', 'Admin')
                //INJECT:viewContributions:admin-tpl-settingsMenuItems
                //END INJECT
            +menuItem('/auth/logout', 'glyphicon glyphicon-log-out', 'Logout')
    .container
      .row
        .col-lg-12(ui-view)
      .row
        .poweredby
          | Proudly powered by 
          a(href="https://github.com/hadronjs/hadron", target="_blank") Hadron
